package icons

templ FishSymbol(props IconProps) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
		if props.ID != "" {
			id={ props.ID }
		}
		if props.Class != "" {
			class={ props.Class }
		}
		if props.Style != "" {
			style={ props.Style }
		}
		{ props.Attributes... }
	>
		<path d="M2 16s9-15 20-4C11 23 2 8 2 8"></path>
	</svg>
}
