name: sync

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  check-lucide-icons-repo:
    runs-on: ubuntu-latest
    outputs:
      new: ${{ steps.new-commits.outputs.new }}
    steps:
      - name: Check for commits to the icons directory in the lucide icons repo
        id: new-commits
        run: echo "new=$(curl -s "https://api.github.com/repos/lucide-icons/lucide/commits?path=icons&since=$(date -d "yesterday" -I):00:00:00Z" | jq "length")" >> $GITHUB_OUTPUT

  sync-lucide-icons-repo:
    runs-on: ubuntu-latest
    needs: check-lucide-icons-repo
    if: ${{ fromJSON(needs.check-lucide-icons-repo.outputs.new) > 0 }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod

      - name: Clone lucide icons repo
        run: |
          git clone --filter=blob:none --no-checkout https://github.com/lucide-icons/lucide.git
          cd lucide
          git sparse-checkout init --cone
          git sparse-checkout set icons
          git checkout

      - name: Process new icons
        id: sync
        run: |
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          go install github.com/a-h/templ/cmd/templ@latest
          go run ./cmd/sync/main.go
          rm -r ./lucide
          git add .
          if git status --porcelain | grep -q .; then
            git commit -m "ci: sync with lucide icons repo"
            echo "changes=true" >> $GITHUB_OUTPUT
          else
            echo "changes=false" >> $GITHUB_OUTPUT
          fi

      - name: Submit a PR
        if: steps.sync.outputs.changes == "true"
        uses: peter-evans/create-pull-request@v7
        with:
          title: "[ci] sync with lucide icons repo"
          labels: ci,sync
          branch: sync
          assignees: dimmerz92
